<h2>Por País</h2>
<hr>

<!-- Cuadro de busqueda -->
<div class="row">
    <div class="col">
        <app-barra-busqueda 
            (termino-hijo)="buscar( $event)"
            (onDebounce)="sugerencias($event)"
            placeholder = "Buscar por Pais..."
            ></app-barra-busqueda>
    </div>
</div>

<hr>

<!-- Mensaje de Error -->
<div *ngIf="hayError"
    class="alert alert-danger">
    No se econtro nada con el término {{terminoBusqueda}}
</div>


<!-- Resultados de busqueda -->
<div *ngIf="paises.length>0" class="row">
    <div class="col">
        <app-tabla [paises-hijo]="paises"></app-tabla>
    </div>
</div>





