<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Region: <small>{{regionActiva | titlecase}}</small></h2>
    <hr>
    
    <h5>Seleccione una region</h5>
    
    <div class="row">
        <div class="col">
            <!-- [class.btn-primary]="i_regiones == regionActiva" -->
            <!-- [ngClass]="{
                'btn-primary': i_regiones === regionActiva,
                'btn-outline-primary': i_regiones !== regionActiva
            }" -->
            <button (click)="activarRegion(i_regiones)"
                    *ngFor="let i_regiones of regiones"
                    [class]="getClaseCSS(i_regiones)"
    
                    >
                {{i_regiones}}
            </button>
    
        </div>
    
        <!-- Resultados de busqueda -->
        <div *ngIf="paises.length>0" class="row">
            <div class="col">
                <app-tabla [paises-hijo]="paises"></app-tabla>
            </div>
        </div>
    </div>
</div>
